%ul.menu
  %li
    %a{href: admin_path}
      %i.fa.fa-home
      %span Inicio
  %li
    %a{href: edit_admin_profiles_path}
      %i.fa.fa-users
      %span Perfil
  %li
    %a{href: admin_navigations_path}
      %i.fa.fa-bars
      %span Menu
  %li
    %a{href: admin_pages_path}
      %i.fa.fa-columns
      %span Páginas
  %li
    %a{href: admin_surveys_path}
      %i.fa.fa-file-text
      %span Formularios
  %li
    %a{href: admin_answers_path}
      %i.fa.fa-file-excel-o
      %span Respuestas