%ul.menu
  %li
    %a{href: admin_path}
      %i.fa.fa-home
  %li
    %a{href: admin_users_path}
      %i.fa.fa-users
  %li
    %a{href: admin_navigations_path}
      %i.fa.fa-bars
  %li
    %a{href: admin_pages_path}
      %i.fa.fa-columns
  %li
    %a{href: admin_hours_path}
      %i.fa.fa-clock-o
  %li
    %a{href: admin_surveys_path}
      %i.fa.fa-file-text