.body-title
  %h1
    = @survey.name
  %small Editando formulario
.body-toolbar
  Acciones:
  %a.btn.btn-primary{:href => admin_surveys_path} Volver
.body-content
  .card
    .card-block
      = simple_form_for [:admin, @survey], validate: true do |f|
        = render 'form', f: f
