.body-title
  %h1
    Administración
  %small Bienvenido a su panel de administración
.body-toolbar
  Manual de uso
-#.body-content
-#  .card
-#    .card-block
-#      = link_to('Usuarios (Administradores)', admin_users_path)
-#  .card
-#    .card-block
-#      = link_to('Páginas', admin_pages_path)
-#  .card
-#    .card-block
-#      = link_to('Agenda de horas', admin_hours_path)
-#  .card
-#    .card-block
-#      = link_to('Formularios', admin_surveys_path)
