.body-title
  %h1
    Administraci칩n
  %small Bienvenido a su panel de administraci칩n
.body-toolbar
  Lista de m칩dulos instalados
.body-content
  .card
    .card-block
      = link_to('Usuarios (Administradores)', admin_users_path)
  .card
    .card-block
      = link_to('P치ginas', admin_pages_path)
  .card
    .card-block
      = link_to('Agenda de horas', admin_hours_path)
  .card
    .card-block
      = link_to('Formularios', admin_surveys_path)
