.inner-title
  %h3 Palabras del Alcalde
.card
  .card-block
    %p
      Estimad@s Valdivian@s:
      %p
        A través de esta nueva y moderna plataforma podrán encontrar todas las herramientas
        desarrolladas por nuestra Oficina de Fomento Productivo, perteneciente a nuestro
        Departamento de Desarrollo Económico Municipal, las cuales tienen el objetivo de facilitar
        el proceso de emprender al interior de la comuna.
      %p
        El fortalecimiento al emprendimiento local ha sido uno de los ejes fundamentales de
        nuestra administración comunal, el que se ha venido trabajando a través de una mirada
        multidisciplinaria que permite lograr un apoyo integral entre quienes deciden llevar a
        cabo alguna idea de negocio.
      %p
        Te invitamos a estar informado de las diferentes iniciativas de capacitación y fomento a la
        asociatividad, buscando mejorar el entorno emprendedor a través del aumento de los ingresos
        y la calidad de vida de las familias de Valdivia.
      %p
        %b OMAR SABAT GUZMÁN
        %br
        Alcalde de Valdivia