#wrapper
  .header-logo.text-center
    .menu-container
      %a#menu-toggle{:href => '#'}
        %i.fa.fa-bars
    %img{:src => asset_path('logo.png')}
    .navigation-fixed-container
      Despliegue de navegación por iconos
  #carousel-1.carousel.slide{:data => {:ride => 'carousel'}}
    .carousel-inner
      .carousel-item.text-center.active
        %img{:src => asset_path('slider/slider-1.png')}
      .carousel-item.text-center
        %img{:src => asset_path('slider/slider-2.png')}
    %a.carousel-control-prev{:href => '#carousel-1', :data => {:slide => 'prev'}}
      %span.carousel-control-prev-icon
    %a.carousel-control-next{:href => '#carousel-1', :data => {:slide => 'next'}}
      %span.carousel-control-next-icon
  .grid
    .container-fluid
      .row.align-items-center
        .col-12.col-md-6
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        .col-12.col-md-6
          LOGO o ELEMENTO SIN ANIMACIÓN
  .grid.yellow
    .container-fluid
      .row.align-items-center
        .col-6
          TEST
        .col-6.text-xs-right
          .rellax{"data-rellax-speed" => 3, "data-rellax-percentage" => 0.5}
            LOGO o ELEMENTO CON ANIMACIÓN
  .grid.purple
    .container-fluid
      .row.align-items-center
        .col-12.text-center
          texto plano centrado
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
  .grid.footer-white
    .container-fluid
      .row.align-items-center.text-of-footer
        .col-12.col-md-4
          .text-center
            Ilustre Municipalidad de Valdivia.
            Independencia #455.
            %br
            %a{:href => 'http://www.munivaldivia.cl', :target => '_blank'} www.munivaldivia.cl.
        .col-12.col-md-4
          .text-center
            Fomento Productivo, Departamento de desarrollo Económico.
            %br
            +56 63 2 239519
        .col-12.col-md-4
          .text-center
            Punto de Atención al Emprendimiento
            +56 63 2 288772
            %br
            muniemprende@gmail.com
      .row.align-items-center
        .col-12.col-md-6
          .text-center
            %img{:src => asset_path('footer/logo-municipalidad.png')}
        .col-12.col-md-6
          .text-center
            %img{:src => asset_path('footer/logo-club.png')}
