$layout-top-height: 40px;
$layout-lateral-width: 80px;
$layout-lateral-menu-bg: #5c005c;

#layout-top, #layout-lateral, #layout-content {
  position: fixed;
}

#layout-top {
  background: $layout-lateral-menu-bg;
  height: $layout-top-height;
  padding-left: $layout-lateral-width;
  color: #FFF;
  left: 0;
  right: 0;
  top: 0;
}

#layout-lateral {
  top: $layout-top-height;
  width: $layout-lateral-width;
  bottom: 0;
  left: 0;
  background: $layout-lateral-menu-bg;
  .menu {
    list-style: none;
    padding: 0;
    li {
      text-align: center;
      a {
        display: block;
        color: #FFF;
        padding: 5px;
        font-size: 28px;
        &:hover {
          text-decoration: none;
          background: darken($layout-lateral-menu-bg, 5);
        }
      }
    }
  }
}

#layout-content {
  border-top: 5px solid #ff8c00;
  border-left: 5px solid #ff8c00;
  top: $layout-top-height;
  left: $layout-lateral-width;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 15px;
  .content {

  }
}