@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$layout-top-height: 38px;
$layout-lateral-width: 80px;
$layout-top-bg: #263238;
$layout-lateral-menu-bg: #37474F;

body {
  font-family: 'Roboto', sans-serif;
}

#layout-top, #layout-lateral, #layout-content {
  position: fixed;
}

#layout-top {
  background: $layout-top-bg;
  height: $layout-top-height;
  padding-left: $layout-lateral-width;
  color: #FFF;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  .nav-title {
    padding-top: 8px;
    font-weight: 300;
  }
  .btn {
    color: #FFFFFF;
    background: #009688;
    &:hover {
      background: darken(#009688, 5);
    }
  }
}

#layout-lateral {
  top: $layout-top-height;
  width: $layout-lateral-width;
  background: $layout-lateral-menu-bg;
  bottom: 0;
  left: 0;
  .menu {
    list-style: none;
    padding: 0;
    li {
      text-align: center;
      a {
        display: block;
        color: #FFF;
        padding: 5px;
        font-size: 26px;
        &:hover {
          text-decoration: none;
          background: darken($layout-lateral-menu-bg, 5);
        }
        span {
          font-size: 14px;
          display: block;
        }
      }
    }
  }
}

#layout-content {
  background: #FFFFFF;
  top: $layout-top-height;
  left: $layout-lateral-width;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  .table {
    tbody {
      td {
        vertical-align: middle;
      }
    }
  }
  .body-title {
    background: #F4F4F4;
    padding: 60px 30px;
    border-bottom: 1px solid #ECEFF1;
    h1 {
      font-weight: 300;
    }
  }
  .body-toolbar {
    padding: 0 30px;
    background: #F4F4F4;
  }
  .body-content {
    padding-top: 15px;
    &.padding {
      padding: 30px;
    }
  }
}