@import "bootstrap-variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "admin";
@import "home";
@import "landing";
@import "summernote";

$PADDING_WRAPPER: 15px;

#session-wrapper {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: $PADDING_WRAPPER;
  left: $PADDING_WRAPPER;
  right: $PADDING_WRAPPER;
  bottom: $PADDING_WRAPPER;
  padding-top: 150px;
}

#forms-wrapper {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
}