@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

body {
  background: #FF9800 url(image_path('bg-app.png')) repeat;
  background-size: 250px 250px;
  font-family: 'PT Sans', sans-serif;
}

.container-fluid, .row {
  height: 100%;
}

#wrapper {
  padding: 100px 0 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-logo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 100;
  .menu-container {
    position: fixed;
    float: left;
    a {
      display: block;
      color: #212121;
      font-size: 36px;
      padding: 20px 30px 27px 30px;
    }
  }
  .navigation-fixed-container {
    position: fixed;
    display: none;
    background: rgba(183, 28, 28, 0.95);
    color: #FFFFFF;
    width: 100%;
    padding: 20px;
    text-align: left;
    a {
      padding: 8px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 600;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
      border-bottom: 2px solid transparent;
      &:hover {
        text-decoration: none;
        border-bottom: 2px solid #FFFFFF;
        color: darken(#FFFFFF, 10);
      }
    }
  }
  img {
    max-height: 100%;
  }
}

.grid {
  width: 100%;
  height: 100%;
  background: rgba(0, 128, 0, 0.8);
  padding: 200px;
  color: #fff;
  &.yellow {
    background: rgba(255, 235, 59, 0.8);
    color: #000;
  }
  &.purple {
    background: rgba(156, 39, 176, 0.8);
    color: #fff;
  }
  &.footer {
    background: #37474F;
    color: #fff;
    height: auto;
  }
  &.footer-white {
    height: auto;
    padding: 50px;
    font-family: 'PT Sans', sans-serif;
    background: #f5f5f5;
    color: #212121;
    .text-of-footer {
      padding-top: 60px;
      padding-bottom: 90px;
    }
    img {
      width: 100%;
      max-width: 100px;
    }
  }
  &.contact-grid {
    padding: 0;
    position: relative;
    z-index: 0;
    .contact-form {
      opacity: 0.95;
      color: #616161;
      background: #FFFFFF;
      position: absolute;
      bottom: 0;
      z-index: 10;
      padding: 10px 20px;
      left: 0;
      right: 0;
      max-width: 500px;
      margin: 0 auto;
      #contact-toggle {
        font-size: 36px;
        color: #616161;
        i {
          -moz-transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;
        }
      }
      .flip {
        transform: rotate(-180deg);
      }
    }
  }
}

.rellax {
  img {
    position: absolute;
  }
}

.carousel-item {
  background: red;
  text-align: center;
  img {
    height: 100%;
    width: 100%;
  }
}