!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Fomento Productivo - Valdivia
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #home-wrapper
      .top
        .container
          .row
            .col-6
              .title
                Ilustre Municipalidad de valdivia
            .col-6
              .menu.text-right
                Menu secundario

      .content
        .banner
          .inner
            .container
              .row
                .col-12
                  %h1 Fomento Productivo
                  %br
                  [/ LOGO \]
          .block
            .block-inter
              .a
              .b
              .c
              .d
        .navigation
          %ul.nav.justify-content-center
            %li.nav-item
              %a.nav-link{href: home_path} Inicio
            %li.nav-item
              %a.nav-link{href: home_hours_path} Toma de horas
            %li.nav-item
              %a.nav-link{href: home_forms_path} Formularios
        .body
          .container
            .row
              .col-12
                = yield
      .footer
        .container
          .row
            .col-12
              .text-center
                Fomento productivo
                %br
                Ilustre Municipalidad de Valdivia
