!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %title Fomento Productivo - Valdivia
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    #layout-wrapper
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script
      // rellax initialization
      var rellax = new Rellax('.rellax');

